<p>Chào ##FULLNAME##,</p>
<p>Bạn đã quá hạn trả tài sản cho công ty, hãy đem thiết bị ##ASSETNAME## trả cho quản lý</p>
<ul>
  <li>Click <a href="http://localhost:3001/account" target="_blank">mở app</a></li>
</ul>
<p>Chúc may mắn!</p>
