<p>Chào ##FULLNAME##,</p>
<p>Bạn vừa mới yêu cầu cấp lại mật khẩu</p>
<p>Đây là mật khẩu mới của bạn:</p>
<p style={{fontWeight: 'bold'}}> ##PASSWORD##</p>

<ul>
  <li>Click <a href="http://localhost:3001/account" target="_blank">mở app</a></li>
</ul>
<p>Chúc may mắn!</p>
